# Ignore VS Code configuration files
.vscode/

# Platformio build files
.pio/

# Build directories and files
build/
*.o
*.d
*.elf
*.bin

# Environment specific files
.env

# ESP-IDF specific files
sdkconfig
sdkconfig.old
sdkconfig.esp32dev 